<mat-card
  class="card"
  [ngClass]="{ width: !fullWidth, 'full-width': fullWidth }"
  *ngIf="scoreItem"
  [hidden]="scoreItem.status.statusInfo === 'Live'">
  <app-score-card-header
    [league]="scoreItem?.league?.name"
    [status]="scoreItem?.status">
</app-score-card-header>

  <app-score-team-item [team]="scoreItem?.teamOne"></app-score-team-item>
  <app-score-team-item [team]="scoreItem?.teamTwo"></app-score-team-item>

  <div class="bottom" [class.time]="scoreItem?.status.statusInfo === 'Live'">
    {{ scoreItem?.status.statusInfo === 'Live' ? scoreItem?.status?.time + "'" : scoreItem?.status.statusInfo }}
  </div>
</mat-card>
