<ng-container #scoreCard>
    <div class="scores flex-container">
      <mat-card class="card" *ngFor="let liveScore of liveScores | slice: 0:sliceNumber">
        <div class="flex-card">
          <div style="flex: 1">
            <img src="{{ liveScore.teamOne.logo }}" />
            <p>{{ liveScore.teamOne.name }}</p>
          </div>
          <div style="flex: 2">
            <h2>
              {{ liveScore.teamOne.score + " - " + liveScore.teamTwo.score }}
            </h2>
            <h5>
              {{ liveScore.status.time }}
            </h5>
              <p *ngIf="liveScore.status.status === 'HT' && liveScore.status.statusInfo === 'Live'">
                Half Time
              </p>
          </div>
          <div style="flex: 1">
            <img src="{{ liveScore.teamTwo.logo }}" />
            <p>{{ liveScore.teamTwo.name }}</p>
          </div>
        </div>
      </mat-card>
    </div>
  </ng-container>
