<div class="search-container">
  <mat-form-field class="full-width">
    <!-- @TODO: Move this out into seperate component -->
    <mat-chip-list #chipList class="full-width">
      <mat-chip
        *ngFor="let competition of homeService.competitionSelectedList"
        [selectable]="competition.selected"
        [removable]="true"
        (removed)="removeFilter(competition, 'competition')">
        {{ competition.name }}
        <mat-icon matChipRemove *ngIf="competition.removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Select a league"
        #leagueForm
        [formControl]="leagueInput"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let competition of competitionList$ | async"
        [value]="competition.name"
        (click)="competitionFiltersClicked(competition)"
      >
        {{ competition.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<!-- @TODO: Move this out into seperate component -->
<div class="pill-container">
  <mat-chip-list>
    <mat-chip
      *ngFor="let filter of homeService.filterList"
      [ngClass]="{ select: filter.selected }"
      (click)="filters(filter)"
    >
      {{ filter.name }}
      <mat-icon
        class="close"
        *ngIf="filter.removable"
        (click)="removeFilter(filter, 'status')"
      >
        cancel
      </mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<ng-container>
  <div
    class="scores flex-container-card"
    *ngIf="liveScores | async as scoreItem"
  >
    <app-score-card
      *ngFor="let liveScore of scoreItem | slice: 0:sliceNumber; trackBy: trackBy"
      (click)="route(liveScore)"
      [scoreItem]="liveScore"
    >
    </app-score-card>
    <div *ngIf="scoreItem.length === 0" class="full-width white-color">
      There are no games available
    </div>
  </div>
</ng-container>
